html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.game {
  width: 1860px;
  height: 730px;
  background-color: #000000;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: absolute;
  top: 0;
  left: 0;

  .header {
    height: 30px;
    background-color: #FF0000;
    font-size: 20px;
    text-align: center;
  }
}

.player {
  width: 580px;
  height: 700px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.board {
  background-color: #FF00FF;
}

.ship {
  width: 290px;
  height: 174px;
  overflow: hidden;
  border-bottom: 1px solid #FFFFFF;

  .img {
    width: 218px;
    height: 140px;
    float: left;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .stats {
    width: 200px;
    height: 35px;
    float: left;
    background-image: url('../img/stats-panel.png');
    background-size: 200px 35px;

    .stat-hull {
      color: #999900;
      margin-left: 40px;
      margin-top: 6px;
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      font-size: 20px;
      float: left;
      width: 50px;
      text-align: right;

      .current {
        color: #FFFF00;
      }
    }

    .stat-shield {
      color: #009999;
      margin-left: 140px;
      margin-top: 6px;
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      font-size: 20px;
      width: 50px;
      text-align: right;

      .current {
        color: #00FFFF;
      }
    }
  }

  .upgrades {
    width: 90px;
    height: 35px;
    float: left;

    .upgrade {
      width: 16px;
      height: 16px;
      float: left;
      margin: 0;
      margin-right: 2px;
      text-align: center;
    }

    .upgrade img {
      width: 16px;
      height: 16px;
    }
  }

  .status {
    width: 72px;
    height: 140px;
    float: left;

    img {
      width: 32px;
      height: 32px;
      margin: 2px;
      display: block;
      float: left;
    }
  }
}

#player2 {
  position: absolute;
  top: 30px;
  right: 0;
  align-items: flex-start;
  flex-direction: column;

  .ship {
    .img, .stats {
      float: right;
    }

    .upgrades {
      float: right;

      .upgrade {
        float: right;
      }
    }
  }
}

#controls {
  position: absolute;
  bottom: 0;
  height: 216px;
  width: 1860px;
}
.move-cell {
  float: left;
  width: 36px;
  height: 36px;
  background-color: #000000;
  border-bottom: 1px solid #FAFAFE;
  border-left: 1px solid #FAFAFE;

  h3 {
    margin-top: 5px;
    color: #FAFAFE;
    text-align: center;
  }

  img {
    display: none;
  }

  &.green {
    img.green {
      display: block;
    }
  }

  &.red {
    img.red {
      display: block;
    }
  }

  &.white{
    img.white{
      display: block;
    }
  }
}

.move-row {
  clear: left;
}

#movement-list {
  height: 216px;
  overflow-y: scroll;
}