.btn-google {
  color: #fff;
  background-color: #DB4437;
  border-color: #A82A1E;

  &:hover {
    color: #fff;
    background-color: #A82A1E;
  }
}

.btn-facebook {
  color: #fff;
  background-color: #45619D;
  border-color: #30446E;

  &:hover {
    color: #fff;
    background-color: #30446E;
  }
}

.form-button {
  a, button {
    width: 100%;
    margin-bottom: 5px;
  }
}

.checkbox-inline {
  label {
    margin-left: 15px;
    margin-right: 20px;

    input {
      height: 29px;
    }
  }
}

#squad_json {
  height: 300px;
}

table {
  tr:nth-child(odd) {
    background: #EEEEEE;
  }
}

.ship {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

.ship-img {
  width: 300px;
  height: 418px;
  float: left;
}

.upgrades {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 418px;
}

.upgrade-img {
  width: 150px;
  height: 209px;
}