#xwing-header {
	background-image: url('../img/xwing-header.jpg');
	background-size: 1200px auto;
	background-position: center center;
	height: 400px;
}

#xwing-header h1 {
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

textarea {
	width: 100%;
	height: 200px;
}

h1.rebel, h1.imperial, h1.scum {
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
}

.rebel {
	background-image: url('../img/rebel.png');
}

.imperial {
	background-image: url('../img/empire.png');
}

.scum {
	background-image: url('../img/scum.png');
}